<iframe src="//www.slideshare.net/slideshow/embed_code/key/uxrjuMSLRko9uN" width="668" height="714" frameborder="0" marginwidth="0"
marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen>
</iframe> <div style="margin-bottom:5px"> <strong> <a
href="//www.slideshare.net/FranciscoFelix6/diffuse-intrinsic-pontine-gliomas-epidemiological-profile-of-patients-treated-in-a-brazilian-pe
diatric-oncology-center-authors-translation" title="Diffuse intrinsic pontine gliomas: epidemiological profile of patients treated in a
Brazilian pediatric oncology center (author&#x27;s translation)" target="\_blank">Diffuse intrinsic pontine gliomas: epidemiological
profile of patients treated in a Brazilian pediatric oncology center (author&#x27;s translation)</a> </strong> from <strong><a
href="//www.slideshare.net/FranciscoFelix6" target="\_blank">Francisco Felix</a></strong> </div>
